@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  :root {
    --gray-200: #d4d4d4;
    --gray-300: #5b5b5b;
    --dark-navy: #000184;
  }

  a {
    @apply text-inherit no-underline
  }

  ul,
  li {
    @apply list-none
  }

  button, input {
    @apply text-inherit
  }

  input {
    @apply p-[.3125rem]
  }
}

@layer components {
  .cBorder {
    @apply bg-gray-200 border-2 border-t-white border-l-white border-r-gray-300 border-b-gray-300
  }

  .cBorder.active {
    @apply border-b-white border-r-white border-l-gray-300 border-t-gray-300 !important
  }

  .folderContainer {
    @apply .border w-full max-w-[80vw] h-[80vh] mx-auto p-[.3125rem] flex flex-col
  }
}



@layer utilities {
}
